<div class="flex flex-col m-5 p-4 sm:p-8 bg-white dark:bg-gray-500 shadow sm:rounded-lg">
    <h1 id="help-title" class="font-semibold text-xl text-gray-800 dark:text-white leading-tight pb-4">How to use?</h1>
    <div class="helpContent flex flex-col gap-5 pt-5">
        <p>Select in the tabs above the scenario : <a class="text-blue-500 hover:underline"
            href="./ListTransactions">PayPal List Transactions</a> or <a class="text-blue-500 hover:underline"
            href="./listSftpFiles">PayPal SFTP Reports</a> </p>

        <p>Here is the PayPal documentations : </p>
        <ul>
            <li>
                <p>PayPal List Transactions : <a class="text-blue-500 hover:underline"
                        href="https://developer.paypal.com/docs/api/transaction-search/v1/#search_get">https://developer.paypal.com/docs/api/transaction-search/v1/#search_get</a></p>
            </li>
            <li>
                <p>PayPal SFTP Reports : <a class="text-blue-500 hover:underline"
                        href="https://developer.paypal.com/docs/reports/sftp-reports/">https://developer.paypal.com/docs/reports/sftp-reports/</a></p>
            </li>
        </ul>
    </div>
</div>