<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome PayPal SFTP Reports</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container mx-auto">
        <div class="header w-full flex flex-col gap-2">
            <h1 class="font-bold text-2xl">PayPal SFTP Reports</h1>
            <a href="https://developer.paypal.com/docs/reports/sftp-reports/" target="_blank"
                class="underline text-blue-600 hover:text-blue-800">Documentation</a>
        </div>
        <div class="container mx-auto py-8">
            <div class="my-4">
                <form id="filterForm" action="/getListTransactions" method="post" class="flex flex-col p-5"
                    enctype="application/json">
                    <div class="my-2">

                        <label for="start_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Start
                            Date:</label>
                        <input type="datetime-local" name="start_date" id="start_date"
                            class="mt-1 p-2 border rounded-md">
                    </div>

                    <div class="my-2">
                        <label for="end_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">End
                            Date:</label>
                        <input type="datetime-local" name="end_date" id="end_date" class="mt-1 p-2 border rounded-md">
                    </div>

                    <div class="my-2">
                        <label for="end_date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Presets
                            :</label>
                        <div class="flex">
                            <button type="button" id="todayButton"
                                class="mr-2 p-2 bg-green-500 text-white rounded-md">Today</button>
                            <button type="button" id="yesterdayButton"
                                class="mr-2 p-2 bg-green-500 text-white rounded-md">Last 24 Hours</button>
                            <button type="button" id="last7DaysButton"
                                class="mr-2 p-2 bg-green-500 text-white rounded-md">Last 7 Days</button>
                            <button type="button" id="lastMonthButton"
                                class="p-2 bg-green-500 text-white rounded-md">Last 30 Days</button>
                        </div>
                    </div>

                    <div class="my-2">
                        <!-- <button type="button" id="filterButton" class="mt-4 p-2 bg-blue-500 text-white rounded-md" onclick="submitForm()">Filter Transactions</button> -->
                        <button type="button" id="filterButton"
                            class="mt-4 p-2 bg-blue-500 text-white rounded-md">Filter Transactions</button>
                    </div>
                </form>
            </div>
            <div class="w-full overflow-x-auto">
                <div id="noData" class="hidden">No data on this period</div>
                <div id="numbers" class="flex flex-col gap-2 hidden">
                    <div id="numberOfTransaction" class="">Number of transactions : </div>
                    <div id="sumOfAmount" class="">Total amount : </div>
                </div>
                <table id="transactionTable" class="min-w-full divide-y divide-gray-200 hidden">
                    <thead class="bg-blue-600 text-white dark:bg-gray-50">
                        <tr>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium dark:text-gray-300 uppercase tracking-wider">
                                Transaction ID</th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium dark:text-gray-300 uppercase tracking-wider">
                                Transaction Date</th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium dark:text-gray-300 uppercase tracking-wider">
                                Amount</th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium dark:text-gray-300 uppercase tracking-wider">
                                Transaction Status</th>
                            <th
                                class="px-6 py-3 text-left text-xs font-medium dark:text-gray-300 uppercase tracking-wider">
                                Transaction Event Code (T Code)</th>
                            <!-- Ajoutez d'autres en-têtes selon vos besoins -->
                        </tr>
                    </thead>
                    <tbody id="transactionTableBody" class="bg-white dark:bg-gray-700 divide-y divide-gray-200"></tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="./transactions.js"></script>

</html>